{{ block "header" . }}
  <div class="w-4/5 mx-auto flex flex-col justify-center relative border-b-2">
    <div class="w-full flex flex-col items-center mt-12">
      <a href="/" class="text-[60px] font-bold break-all text-center leading-[55px]">
        <h1>ThisInformation</h1>
      </a>

      <h2 class="text-md w-full text-center italic mb-4">Your 'trusted' AI-generated News Source</h2>
    </div>

    <div class="absolute top-0 left-0 p-2 flex gap-1 text-neutral-400">
      <p> Views: {{ .Views }} </p>
    </div>

    <div class="absolute top-0 right-0 p-2 flex gap-1 text-neutral-400">
      <a
        class="hover:underline"
        href="/archive"
      >{{ .Today }}</a>
      <p> | No. {{ .Edition }} </p>
    </div>
  </div>

  <div class="w-[75%] mx-auto text-center py-2 bg-neutral-700 text-neutral-100 mb-8 mt-4 font-semibold shadow px-2">
    <p>ALL OF THE CONTENT ON THIS SITE IS AI GENERATED AND IS <span class="underline">NOT REAL</span> NEWS.</p>
  </div>
{{ end }}
