<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thisinformation Archive</title>
    <script src="https://cdn.twind.style" crossorigin></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
  </head>

  <body style="font-family: 'Newsreader', serif;" class="text-neutral-900 bg-neutral-50">
    {{ template "header" . }}
    <div class="w-4/5 mx-auto flex flex-col">
      <h1 class="text-3xl font-bold mb-4">Archive</h1>

      <ul class="flex flex-col pl-8 list-disc">
        {{ range .Dates }}
          <li>
            <a
              href="/archive/{{.}}"
              class="text-blue-600 hover:underline"
            >{{.}}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </body>
</html>
