<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThisInformation</title>
    <script src="https://cdn.twind.style" crossorigin></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
  </head>

  <body style="font-family: 'Newsreader', serif;" class="text-neutral-900 bg-neutral-50 w-screen overflow-x-hidden">
    {{ template "header" . }}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-3/4 mx-auto">
      {{ range .Articles }}
        {{ template "article" . }}
      {{ end }}
    </div>
  </body>
</html>
