<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThisInformation</title>
    <script src="https://cdn.twind.style" crossorigin></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
  </head>

  <body style="font-family: 'Newsreader', serif;" class="text-neutral-900 bg-neutral-50 w-screen overflow-x-hidden">
    {{ template "header" . }}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-[85%] md:w-3/4 mx-auto">
      {{ if .CoverStory }}
        {{ template "cover-story" . }}
      {{ end }}

      {{ with (nth .Articles 0) }}
        {{ if . }}
          {{ template "article" . }}
        {{ end }}
      {{ end }}

      {{ if .Crossword }}
        {{ template "crossword" .Crossword }}
      {{ end }}

      {{ with (nth .Articles 1) }}
        {{ if . }}
          {{ template "wide-article" . }}
        {{ end }}
      {{ end }}

      {{ with (nth .Articles 2) }}
        {{ if . }}
          {{ template "article" . }}
        {{ end }}
      {{ end }}

      {{ with (nth .Articles 3) }}
        {{ if . }}
          {{ template "article" . }}
        {{ end }}
      {{ end }}

      {{ with (nth .Articles 4) }}
        {{ if . }}
          {{ template "article" . }}
        {{ end }}
      {{ end }}

      {{ with (nth .Articles 5) }}
        {{ if . }}
          {{ template "article" . }}
        {{ end }}
      {{ end }}

      <div class="flex flex-col col-span-2">
        {{ with (nth .Articles 6) }}
          {{ if . }}
            {{ template "wide-article" . }}
          {{ end }}
        {{ end }}

        {{ with (nth .Articles 7) }}
          {{ if . }}
            {{ template "wide-article" . }}
          {{ end }}
        {{ end }}
      </div>

      {{ range $i, $a := .Articles }}
        {{ if gt $i 7 }}
          {{ template "article" $a }}
        {{ end }}
      {{ end }}
    </div>
  </body>
</html>
